/* From Uiverse.io by aadium */
.triangle-square {
    --color1: #46345712;
    --color2: #abbcca12;
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)),
    linear-gradient(135deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 90px 90px;
    background-position: 0 0, 135px 135px;
}

/* From Uiverse.io by escannord */
.dotted {
    background: rgba(0, 0, 0, 0)
    radial-gradient(rgba(124, 124, 124, 0.212) 10%, transparent 30%);

    background-size: 11px 11px;
}

/* From Uiverse.io by themrsami */
.strip {
    background: repeating-linear-gradient(
            45deg,
            #00000000,
            #00000000 10px,
            #cdcdcd26 10px,
            #cdcdcd26 20px
    );
}

.checkerboard {
    background-image:
            linear-gradient(45deg, rgba(204, 204, 204, 0.10) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(204, 204, 204, 0.10) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(204, 204, 204, 0.10) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(204, 204, 204, 0.10) 75%);
    background-size: 30px 30px;
    background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
}