/* From Uiverse.io by aadium */
.triangle-square {
    --color1: #46345712;
    --color2: #abbcca12;
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)),
    linear-gradient(135deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 90px 90px;
    background-position: 0 0, 135px 135px;
}

/* From Uiverse.io by escannord */
.dotted {
    background: rgba(0, 0, 0, 0)
    radial-gradient(rgba(124, 124, 124, 0.212) 10%, transparent 30%);

    background-size: 11px 11px;
}

/* From Uiverse.io by themrsami */
.strip {
    background: repeating-linear-gradient(
            45deg,
            #00000000,
            #00000000 10px,
            #cdcdcd26 10px,
            #cdcdcd26 20px
    );
}

.checkerboard {
    background-color: rgba(155, 155, 155, 0.1); /* Light gray with 20% opacity */
    background-image:
            linear-gradient(45deg, rgba(155, 155, 155, 0.1) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(155, 155, 155, 0.1) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(155, 155, 155, 0.1) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(155, 155, 155, 0.1) 75%);
    background-size: 40px 40px; /* Increase size of the checkerboard */
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px; /* Adjust offsets */
}
